[user]
	name = Eugene Triguba
	email = hello@eugenetriguba.com
[core]
	editor = vim
[pull]
  ff = only
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[init]
	defaultBranch = main
[submodule]
	recurse = true
